@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
/*Titulo y Parrafo Tamaño Movil*/
/*Titulo y Parrafo Tamaño Pc*/
@media (min-width: 320px) and (max-width: 520px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
  .color {
    background: rgba(172, 45, 45, 0.71);
    font: 2rem "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
  }
  .nav-item {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    transition: all 700ms;
  }
  .nav-link {
    color: rgb(255, 255, 255);
    transition: all 320ms;
  }
  .nav-link:hover {
    color: rgba(118, 126, 237, 0.589);
  }
  .nav-link:active {
    color: rgba(22, 87, 96, 0.589);
  }
  /*Estilo Footer*/
  body {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.7)), url(../imagenes/descarga\ \(3\).jpg);
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
  }
  body footer {
    margin-top: 4rem;
  }
  body footer nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  body footer nav ul li {
    margin-right: 3rem;
    list-style: none;
  }
  body footer nav ul li a img {
    width: 3rem;
    transition: all 350ms ease-in-out;
  }
  body footer nav ul li a img:hover {
    width: 3.5rem;
    background-color: rgba(184, 147, 147, 0.457);
    border-radius: 100%;
    padding: 0.6rem;
  }
}
@media (min-width: 521px) and (max-width: 730px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
  .color {
    text-align: center;
    background: linear-gradient(10deg, rgb(255, 255, 255) 20%, rgba(239, 243, 6, 0.689) 20% 40%, rgba(27, 160, 4, 0.728) 40% 60%, rgba(6, 37, 129, 0.769) 60% 80%, rgba(255, 0, 0, 0.749) 80%, black);
    font: 2.2rem "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
  }
  .nav-item {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    transition: all 300ms;
  }
  .nav-item:hover {
    font-size: 2.6rem;
  }
  .nav-link {
    color: black;
    transition: all 700ms;
  }
  .nav-link:hover {
    color: rgba(42, 54, 218, 0.589);
  }
  .nav-link:active {
    color: rgba(2, 12, 150, 0.589);
  }
}
@media (min-width: 731px) and (max-width: 990px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
  .color {
    text-align: center;
    background: linear-gradient(10deg, rgb(255, 255, 255) 20%, rgba(239, 243, 6, 0.689) 20% 40%, rgba(27, 160, 4, 0.728) 40% 60%, rgba(6, 37, 129, 0.769) 60% 80%, rgba(255, 0, 0, 0.749) 80%, black);
    font: 2.6rem "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
  }
  .nav-item {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    transition: all 300ms;
  }
  .nav-item:hover {
    font-size: 3rem;
  }
  .nav-link {
    color: black;
    transition: all 700ms;
  }
  .nav-link:hover {
    color: rgba(0, 0, 0, 0.589);
  }
  .nav-link:active {
    color: rgba(50, 191, 210, 0.589);
  }
}
@media (min-width: 991px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
  .navbar {
    background: black;
  }
  .nav-link {
    font: 1.8rem "Roboto Condensed", sans-serif;
    margin: 1rem 1rem 1rem 6rem;
    color: white;
    transition: all 600ms;
  }
  .nav-link:visited {
    color: white;
  }
  .nav-link:hover {
    font-size: 2rem;
    color: rgba(14, 158, 177, 0.63);
    border-bottom: 0.1rem solid rgba(14, 158, 177, 0.63);
    border-top: 0.1rem solid rgba(14, 158, 177, 0.63);
  }
  .nav-link:active {
    font-size: 1.7rem;
    color: rgba(14, 158, 177, 0.338);
    border-bottom: 0.1rem solid rgba(14, 158, 177, 0.386);
    border-top: 0.1rem solid rgba(14, 158, 177, 0.256);
  }
}
@media (min-width: 320px) and (max-width: 520px) {
  .carrusel {
    width: 95%;
    margin: auto;
    overflow: hidden;
  }
  .carrusel ul {
    text-align: center;
    padding: 0;
    display: flex;
    width: 200%;
    animation: cambio 15s infinite;
    animation-timing-function: ease-out;
    justify-content: center;
    align-items: center;
  }
  .carrusel ul li {
    width: 100%;
    list-style: none;
  }
  .carrusel ul li img {
    width: 100%;
  }
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    30% {
      margin-left: 0;
    }
    50% {
      margin-left: -100%;
    }
    100% {
      margin-left: -100%;
    }
  }
  .mailto {
    margin: 2rem;
    text-align: center;
  }
  .mailto a {
    font-size: 2rem;
    margin-top: 3rem;
    text-decoration: none;
    color: white;
  }
  .mailto a .mailtoImg {
    width: 4rem;
    margin: auto;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
  }
  .sedeCentral, .sedeRayo, .sedeQuilmes, .sedeRioja, .sedeRosario, .sedeDragones, .sedeGerli {
    color: #e2e2e2;
    border-radius: 2rem;
    background: linear-gradient(-45deg, rgba(19, 26, 53, 0.6784313725) 50%, #001f3a 50%);
    margin: 2.5rem;
    height: auto;
    border: 0.1rem solid white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .parteUno h3 {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .parteUno h4 {
    margin-bottom: 1.5rem;
    font: 1.8rem "Roboto Condensed", sans-serif;
    font-weight: 500;
  }
  .parteUno h4:nth-child(3) {
    margin-bottom: 3rem;
  }
  .parteUno h4:nth-child(4) {
    margin-bottom: 2rem;
  }
  .parteUno ul li {
    list-style: none;
    margin-bottom: 1rem;
    font: 1.5rem "Roboto Condensed", sans-serif;
    font-weight: 400;
  }
  .parteDos {
    margin-top: 3rem;
  }
  .parteDos .cardEnlaces {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .parteDos nav .cardEnlaces li {
    list-style: none;
  }
  .parteDos nav ul li a img {
    width: 3rem;
    transition: all 350ms ease-in;
  }
  .parteDos nav ul li:first-child a img {
    width: 3rem;
    transition: all 350ms ease-in-out;
  }
  .parteDos nav ul li:last-child a img {
    width: 3.4rem;
    transition: all 350ms ease-in-out;
  }
  .parteDos nav ul li a:nth-child(1) img:hover {
    width: 4rem;
    background-color: rgba(0, 0, 0, 0.457);
    border-radius: 100%;
    padding: 0.6rem;
  }
}
@media (min-width: 320px) and (max-width: 520px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
  .contenedorTituloParrafo {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .contenedorTituloParrafo h1, .contenedorTituloParrafo h2 {
    font: 3rem "Roboto Condensed", sans-serif;
    margin: 7rem 1rem 0rem 1rem;
    color: rgb(255, 255, 255);
  }
  .contenedorTituloParrafo p {
    margin: 3rem 2rem;
    font: 1.5rem "Roboto Condensed", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 3rem;
  }
  header figure {
    text-align: center;
  }
  header figure img {
    width: 30rem;
  }
  .contenedorIndex {
    display: grid;
    grid-template-areas: "sede " "instuctor" "eventos" "contacto";
    margin: 2rem;
    color: rgb(255, 255, 255);
  }
  .contenedorIndex .cardSede {
    color: white;
    margin-top: 7rem;
    grid-area: sede;
    display: grid;
    grid-template-areas: "techo" "titulo" "parrafo" "piso ";
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.2)), url(/imagenes/fondoCards/fotosede.jpeg);
    background-position: bottom left;
    background-size: cover;
  }
  .contenedorIndex .cardSede:hover {
    border-radius: 0.25rem;
  }
  .contenedorIndex .cardInstructor {
    margin-top: 4rem;
    grid-area: instuctor;
    display: grid;
    grid-template-areas: "techo" "titulo" "parrafo" "piso ";
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.4)), url(/imagenes/fondoCards/fondotres.jpeg);
    background-position: center;
    background-size: cover;
  }
  .contenedorIndex .cardEventos {
    margin-top: 4rem;
    grid-area: eventos;
    display: grid;
    grid-template-areas: "techo" "titulo" "parrafo" "piso ";
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.2)), url(/imagenes/fondoCards/fondoContacto.jpeg);
    background-position: center;
    background-size: cover;
  }
  .contenedorIndex .cardContactos {
    margin-top: 4rem;
    grid-area: contacto;
    display: grid;
    grid-template-areas: "techo" "titulo" "parrafo" "piso ";
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(/imagenes/fondoCards/fondotodo.jpeg);
    background-position: right;
    background-size: cover;
  }
  .cardEventos .tituloCard {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    grid-area: titulo;
    color: white;
  }
  .techoCard {
    background-color: rgba(77, 76, 76, 0.71);
    height: 2.2rem;
    grid-area: techo;
    border-radius: 0.25rem;
  }
  .tituloCard {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    grid-area: titulo;
  }
  .parrafoCard {
    margin: 1rem 0.6rem;
    font: 1.2rem "Roboto Condensed", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
    line-height: 3rem;
    grid-area: parrafo;
  }
  .pisoCard {
    background-color: rgba(77, 76, 76, 0.71);
    height: 2.2rem;
    grid-area: piso;
    border-radius: 0.25rem;
  }
}
@media (min-width: 991px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../imagenes/descarga\ \(3\).jpg);
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
  }
  .contenedorTituloParrafo {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .contenedorTituloParrafo h1 {
    font: 5rem "Roboto Condensed", sans-serif;
    margin-top: 10rem;
    color: rgb(255, 255, 255);
  }
  .contenedorTituloParrafo p {
    font: 2rem "Roboto Condensed", sans-serif;
    font-weight: 800;
    margin: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 5rem;
  }
  .indexMain {
    display: grid;
    grid-template-areas: "  eventos eventos   " "instructor  sede" "instructor  sede";
    grid-gap: 8rem;
    grid-row: 8rem;
    margin: 10rem;
  }
  .contenedorEventos {
    margin-left: 30rem;
    border-radius: 2rem;
    width: 85vh;
    height: 75vh;
    grid-area: eventos;
    background-image: url(../imagenes/Boxing\ Gloves\ Wallpapers\ -\ Wallpaper\ Cave.jpg);
    background-size: cover;
  }
  .contenedorInstructor {
    border-radius: 2rem;
    width: 85vh;
    height: 75vh;
    grid-area: instructor;
    background-image: url(../imagenes/Boxing\ Gloves\ Wallpapers\ -\ Wallpaper\ Cave.jpg);
    background-size: cover;
  }
  /*
  .contenedorEventos{
      border-radius: 2rem;
      width: 85vh;
      height: 75vh;
      background-image: linear-gradient(rgba(0, 0, 0, 10), rgba(0, 0, 0, 0.2)), url(/imagenes/Cemento\ Pared\ Piedra\ Ladrillo\ Antecedentes.jpg);
      grid-area: eventos;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  */
  .contenedorSede {
    border-radius: 2rem;
    width: 85vh;
    height: 75vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.2)), url(/imagenes/Hay\ que\ aprender\ a\ meditar.png);
    grid-area: sede;
  }
  .tarjetaIndex {
    display: grid;
  }
  .colorBottomIndex {
    border-radius: 0 0 2rem 2rem;
    margin-top: 11.5rem;
    height: 4rem;
    background-color: rgba(27, 46, 46, 0.861);
  }
  .colorTopIndex {
    border-radius: 2rem 2rem 0 0;
    height: 4rem;
    background-color: rgba(27, 46, 46, 0.861);
  }
  .tituloTarjetaIndex {
    margin: 2rem 2rem;
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  .parrafoTarjetaIndex {
    margin-top: 8rem;
    margin-right: 2rem;
    font-weight: 500;
    text-align: right;
    color: white;
    font: 2.5rem "Roboto Condensed", sans-serif;
  }
  figure {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 520px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
  .seccionImagenEventos {
    margin-bottom: 6rem;
    margin-top: 4rem;
  }
  .seccionImagenEventos .carruselEventos {
    width: 95%;
    margin: auto;
    overflow: hidden;
  }
  .carruselEventos ul {
    text-align: center;
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambiodos 20s infinite;
    justify-content: center;
  }
  .carruselEventos li {
    width: 100%;
    list-style: none;
  }
  .carruselEventos li:last-child img {
    width: 30rem;
    border: none;
  }
  .carruselEventos li img {
    width: 16rem;
    border-radius: 2rem;
    border: 0.1rem solid white;
  }
  @keyframes cambiodos {
    20% {
      margin-left: 0;
    }
    40% {
      margin-left: 0;
    }
    45% {
      margin-left: -100%;
    }
    60% {
      margin-left: -100%;
    }
    65% {
      margin-left: -200%;
    }
    80% {
      margin-left: -200%;
    }
    85% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }
  .eventoUno, .eventoDos, .eventoTres {
    display: flex;
    margin: 1rem;
    justify-items: space-around;
    height: auto;
  }
  .descripcion {
    color: rgb(255, 255, 255);
    text-align: center;
    height: auto;
  }
  .descripcion h3 {
    padding-top: 0.3rem;
    border-top: 0.1rem solid rgba(230, 220, 220, 0.119);
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 2rem;
    line-height: 2rem;
    text-decoration: none;
  }
  .descripcion p {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: 330;
    line-height: 2rem;
  }
  .descripcion figure img {
    width: 2rem;
    transition: all 700ms;
  }
  .imagen figure img {
    margin-right: 0.6rem;
    margin-top: 2rem;
    width: 13rem;
    border: 0.1rem solid white;
    border-radius: 1rem;
  }
  .eventoDos .imagen figure img {
    height: 20rem;
  }
  .eventoTres .imagen figure img {
    margin-top: 4rem;
    height: 20rem;
  }
  .descripcion figure img:hover {
    width: 3rem;
  }
  .descripcion figure img:active {
    width: 2rem;
  }
  .imagen {
    margin-left: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 520px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62, 5%;
  }
  .instructorMartin, .instructorFernanda, .instructorAlan, .instructorIvan, .instructorEzequiel, .instructorNahir, .instructorAymara, .instructorLudmila, .instructorMatias, .instructorAron {
    margin-bottom: 3rem;
    height: auto;
    margin: 3.5rem;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 2rem;
    border: 0.1rem solid white;
    box-shadow: 0.3rem -0.2rem 0.5rem -0.3rem rgb(118, 213, 247);
  }
  .contenedorins {
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
  }
  .contenedorins h3 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration: none;
    color: rgba(119, 169, 225, 0.523);
  }
  .contenedorins ul li {
    margin: 2rem;
    list-style-type: circle;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid rgba(182, 182, 182, 0.112);
  }
}

/*# sourceMappingURL=esitlo.css.map */
