/*Titulo y Parrafo Tamaño Movil*/
@mixin siempre{
    box-sizing: border-box; 
    margin: 0;
    padding:0; 
}

@mixin tituloMobile{
    font: 3.5rem $letraParrafo;
    margin: 7rem 1rem 0rem 1rem;
    color:$letrablanca;
}

@mixin parrafoMobile{
    margin:3rem 2rem;
    font: 1.5rem $letraParrafo;
    font-weight: 800;
    text-transform:uppercase;
    text-align:center;
    color:$letrablanca;
    line-height: 3rem;
}

@mixin parrafoCard{
    margin:1rem 0.6rem;
    font: 1.4rem $letraParrafo;
    font-weight: 500;
    text-transform:uppercase;
    text-align:center;
    line-height: 3rem;
}

@mixin tituloCard{
    font: 2.5rem $letraParrafo;
    margin-top:1rem;
    font-weight: 600;
    text-transform:uppercase;
}

//Tamaño Tablet
@mixin tituloTablet{
    font: 3rem $letraParrafo;
    margin-top: 9rem;
    color:$letrablanca;
    font-weight: 800;
}

@mixin parrafoTablet{
    margin:4rem 4rem;
    font: 2rem $letraParrafo;
    font-weight: 500;
    text-transform:uppercase;
    text-align:center;
    color:$letrablanca;
    line-height: 4.3rem;
}

@mixin tituloCardTablet{
    font: 3.4rem $letraParrafo;
    margin-top: 2.5rem;
    text-align: center;
}

@mixin parrafoCardTablet{
    margin:1rem;
    font: 1.6rem $letraParrafo;
    font-weight: 550;
    text-transform:uppercase;
    text-align:center;
    line-height: 4rem;
}
// Finaliza el Tamaño Tablet

//Tamaño Notebook
@mixin tituloNotebook{
    font: 4.3rem $letraParrafo;
    margin-top: 10rem;
    color:$letrablanca;
    font-weight: 800;
}

@mixin parrafoNotebook{
    margin:3rem;
    font: 2.6rem $letraParrafo;
    font-weight: 500;
    text-transform:uppercase;
    text-align:center;
    color:$letrablanca;
    line-height: 6rem;
}

@mixin tituloCardNotebook{
    font: 3.4rem $letraParrafo;
    margin:3rem 0 3rem 0;
    text-align: center;
}

@mixin parrafoCardNotebook{
    font: 2.3rem $letraParrafo;
    font-weight: 500;
    text-transform:uppercase;
    text-align:center;
    line-height: 5rem;
}
//Finaliza Tamaño Notebook

@mixin flexCenter{
    display: flex;
    text-align: center;
    justify-content: center;
}


//Mixin Instructor
@mixin cardSedeMobile{
   color:#e2e2e2 ;
   border-radius: 2rem;
   background:linear-gradient(-45deg,#131a35ad 50%, #001f3a 50%);
   margin: 2.5rem;
   height: auto;
   border: 0.1rem solid white;
   @include flexCenter;
}

@mixin cardSedeNotebook{
   margin:auto;
   width:40rem;
   color:#e2e2e2 ;
   border-radius: 2rem;
   background:linear-gradient(-45deg,#131a35ad 50%, #001f3a 50%);
   height:auto;
   border: 0.1rem solid white;
   @include flexCenter;
}

@mixin carruselUl{
    text-align: center;
    padding: 0;
    display: flex;
    width: 200%;
    animation: cambio 15s infinite;
    animation-timing-function: ease-out;
    justify-content: center;
    align-items: center;
}

@mixin carruselEventos{
    text-align: center;
    padding: 0;
    display:flex;
    width: 400%;
    animation: cambiodos 20s infinite;
    justify-content: center;
}
